.container {
    border-right: 1px solid gray;
}

.container form, .container .scrollpane {
    box-sizing: border-box;
}

.container form {
    height: 3em;
    margin: auto;
    padding: 0em 1em;
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: 1fr 2em 2em;
    gap: 0.5em;
    align-content: center;
}

.container form > a:last-child {
    margin-top: 2px;
}

.searchBar {
    position: relative;
}

.searchBar input{
    box-sizing: border-box;
    padding-left: 2em;
    width: 100%;
}

.searchBar > div {
    position: absolute;
    top: 5px;
    left: 5px;
}

.container table {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-spacing: 0;
}

.transaction td {
    border-bottom: 1px solid gray;
    padding: 0.4em 0 0.4em 1em;
    box-sizing: border-box;
}

.transaction td:first-child {
    display: flex;
    flex-direction: column;
}

.transaction .active:hover {
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.104);
    cursor: pointer;
}

.transaction .category {
    font-size: 14px;
}

.transaction .date {
    margin-top: 1em;
    font-size: 14px;
}

.transaction .amount {
    text-align: right;
    padding-right: 1.5em;
    font-size: 18px;
}