.container {
    display: grid;
    grid-template-columns: 1fr 20em;
    height: 100vh;
    width: calc(100vw - var(--primary-nav-width));
}

.options {
    margin-top: -10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid gray;
    gap: 1em;
}

.range, .display {
    height: fit-content;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.range select {
    width: 100%;
}

.range div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.display fieldset {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border: 0;
    margin: 0;
}

.display fieldset legend {
    float: left;
    margin: 0;
    padding: 0;
}

.display fieldset > div {
    display: flex;
    gap: 0.5em;
}

.display .net {
    display: flex;
    justify-content: space-between;
}

.projectIncome {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}