.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border-right: 1px solid rgb(131, 131, 131);
    background: rgb(13, 34, 51);
}

.container a {
    color: black;
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin-top: 5em;
}