.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border-right: 1px solid rgb(131, 131, 131);
    background: rgb(61, 73, 82);
}

.container a {
    color: black;
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin-top: 18vh;
    height: 100%;
}

.container ul li:last-child {
    position: absolute;
    bottom: 1em;
}

.net {
    position: absolute;
    bottom: 3.5em;
    width: var(--primary-nav-width);
    text-align: center;
}

.positive {
    color: rgb(89, 255, 89);
}

.negative {
    color: rgb(255, 56, 56);
}

.zero {
    color: white;
}