.secondaryNav {
    height: var(--secondary-nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondaryNav ul {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin: 0em;
    padding: 0em;
    list-style: none;
    font-size: 18px;
    box-sizing: border-box;
}

.secondaryNav ul li {
    background: var(--primary-color);
    padding: 5px 10px;
    border-radius: 10px;
}

.secondaryNav ul a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}

.secondaryNav ul a:hover {
    background: rgb(232, 229, 229);
}

.secondaryNav .active {
    background: rgb(232, 229, 229);
}

.loadAnimation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    grid-column: 2/4;
}

.loadAnimation > div {
    position: relative;
    width: 25vw;
}

.loadAnimation p {
    margin: -2.75em 0 0.25em 0;
    text-align: left;
    width: fit-content;
}

.loadAnimation .loadBar {
    animation: loading 7s forwards;
    background: rgb(169, 190, 199);
    border-radius: 5px;
    height: 5px;
    width: 0;
}

@keyframes loading {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.networkError {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/4;
}

.networkError h1 {
    margin-top: -1.5em;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
}