.loadAnimation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 2/4;
    margin-top: -2.5em;
}

.outerCircle {
    border: 8px solid rgba(128, 128, 128, 0.093);
    width: 5em;
    height: 5em;
    border-radius: 100%;
    position: relative;
    animation: infinite 1.5s linear rotate;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ball {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: rgb(5, 157, 245);
    position: absolute;
    display: block;
    top: 5px;
}