@media screen {
    .transactionContainer {
        padding: 2em 1.5em 2em 3em;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 2em;
    }
    
    .transactionContainer ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 2.5em;
    }
    
    .transactionContainer ul p {
        margin-bottom: 0.5em;
    }

    .transactionContainer .options {
        display: flex;
        gap: 2em;
    }

    .transactionContainer .options button {
        padding: 10px 35px;
        border: 0;
        border-radius: 5px;
        font-size: 18px;
        color: black;
        cursor: pointer;
        background: rgb(232, 229, 229);
    }

    .transactionContainer .options button:hover {
        background: rgb(217, 214, 214);
        transition: 0.5s;
    }
    
    .transactionForm {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        padding: 1.5em 2.5em;
        gap: 2em;
        align-items: start;
        justify-content: space-between;
        position: relative;
        box-sizing: border-box;
        width: 52vw;
        border-radius: 1em;
        background: #9c9fa220;
        border: 1px solid rgb(198, 197, 197);
        box-shadow: 3px 3px 1px rgba(12, 12, 12, 0.052);
    }

    .transactionForm label {
        font-size: 17px;
    }

    .transactionForm .firstColumn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .transactionForm .firstColumn > div {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 1em;
    }
    
    .transactionForm .secondColumn {
        display: flex;
        flex-direction: column;
    }
    
    .transactionForm .textarea {
        width: 100%;
        box-sizing: border-box;
    }

    .transactionForm button {
        position: absolute;
        bottom: -1.75em;
        left: -2em;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        border-radius: 100%;
        border: 0;
        background: transparent;
        width: 1.5em;
        aspect-ratio: 1;
        box-sizing: border-box;
        padding-bottom: 5px;
    }

    .transactionForm .delete {
        bottom: 1em;
        border: 1px solid red;
        color: red;
    }
}

@media screen and (max-width: 1190px) {
    .transactionForm {
        grid-template-columns: 1fr;
        gap: 1em;
    }
}