:root {
    padding: 0;
    max-width: 100%;
    --primary-color: rgb(242, 243, 245);
    --secondary-color: rgb(208, 208, 208);
    --accent-color: rgb(242, 243, 245);
    --active-color: rgb(153, 238, 255);
    --primary-nav-width: 4.75rem;
    --secondary-nav-height: 3em;
}

body {
    background: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
}

body, header, nav, main, footer, div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main {
    display: grid;
    grid-template-columns: var(--primary-nav-width) 1fr 2fr;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

input, select, textarea {
    padding: 5px 8px;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(236, 236, 236);
    box-sizing: border-box;
}

.button {
    padding: 10px 35px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    background: rgb(232, 229, 229);
}

.button:hover {
    background: rgb(217, 214, 214);
    transition: 0.5s;
}