#root {
    padding: 0;
    max-width: 100%;
}

body, header, nav, main, footer, div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
}

main > nav {
    height: 100vh;
    width: 4.5em;
    position: fixed;
}

main > div {
    margin-left: 4.5em;
}